# Python
__pycache__/
*.py[cod]
*.so
*.pyd
*.egg
*.egg-info/
dist/
build/
.eggs/
.python-version
.venv/
.venv*/
venv/
.env
.env.*

# IDE
.idea/
.vscode/
.DS_Store

# Test & coverage
.coverage*
.pytest_cache/
